@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

.asdf {
  height: calc(100vh - 16rem); 
}

body {
  background: radial-gradient(#140024, black);
  background-repeat: repeat-y;
  background-size: 100vw 100vh;
  background-color:black;
  font-family: "Pretendard-Regular";
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  
}
